body {
    background-color: rgb(241, 207, 228);
    color: black;
    font-family: Arial;
    margin: 0px;
}
h1 {
    color: rgb(39, 105, 65);
    padding: 30px; 
    font-size: 35pt
}
header {
    background-color: rgb(39, 105, 65);
    color:black; 
    padding: 10px; 
    font-size: 16pt;
}
footer {
    background-color: rgb(39, 105, 65);
    color:black; 
    padding: 10px; 
    font-size: 16pt;
}
a {
    color: blueviolet;
    text-decoration: none;
    transition: 2s 1s;
}
a:link {
    color: aqua;
    text-decoration: underline;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(39, 105, 65);
    transition: 0.3s;
}
a:active {
    color: rgb(5, 5, 18);
    opacity: 0.3;
}
ol {
    line-height: 25px;
}