body {
    background-color: rgb(241, 207, 228);
    color: black;
    font-family: Arial;
    margin: 0px;
}
h1 {
    color: rgb(39, 105, 65);
    padding: 30px; 
    font-size: 35pt;
    text-align: center;
}
header {
    background-color: rgb(39, 105, 65);
    color:black; 
    padding: 10px; 
    font-size: 16pt;
}
footer {
    background-color: rgb(39, 105, 65);
    color:black; 
    padding: 10px; 
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: blueviolet;
    text-decoration: none;
    transition: 2s 1s;
}
a:link {
    color: aqua;
    text-decoration: underline;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(39, 105, 65);
    transition: 0.3s;
}
a:active {
    color: rgb(16, 16, 197);
    opacity: 0.3;
}
ol {
    line-height: 25px;
}
div.menu {
    border: 7px solid rgb(39, 105, 65);
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
}
div.menu:hover {
    background-color: beige;
    box-shadow: 0 0 15px rgb(16, 16, 16);
}
main {
    margin: 10px 20px 47.33px ;
}